html, body, .vex-content {
	font-family: "Roboto", sans-serif !important;
}

.title {
	font-weight: bold !important;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
	background: #2c8c99;
}

.is-hidden {
	display: none;
}

.headshot-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}

.headshot-img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%
}

.is-rounded {
	border-radius: 50%;
}

.is-inline-img {
	display: inline-block;
	vertical-align: middle;
}

.is-inline-img + span {
	vertical-align: middle;	
}

.is-inline-img figure {
	margin: 0 0.25rem 0 0 !important;
}