html, body, .vex-content {
	font-family: "Roboto", sans-serif !important;
}

.title {
	font-weight: bold !important;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
	background: #2c8c99;
}

.headshot-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}

.headshot-img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%
}