html {
	background: #2c8c99;
}

body {
	background: #ffffff;
}

html, body, .vex-content {
	font-family: "Roboto", sans-serif !important;
}

.title {
	font-weight: bold !important;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
	background: #2c8c99;
}

.vex .vex-content {
	padding: 2em !important;
	width: 500px !important;
}

.is-bold-text {
	font-weight: bold !important;
}

.is-underlined {
	border-bottom: 1px dashed #363636;
	color: #363636;
	font-weight: normal !important;
}

.is-underlined:hover, .is-underlined:active {
	cursor: pointer;
	border-bottom: 2px dashed #2c8c99;
	color: #2c8c99;
	font-weight: bold !important;
}

.is-hidden {
	display: none;
}

.is-transparent {
	background: transparent !important;
}

.section.is-light-gray {
	background: #F4F2F6;
}

.headshot-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}

.headshot-img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%
}

.is-rounded {
	border-radius: 50%;
}

.is-inline-img {
	display: inline-block;
	vertical-align: middle;
}

.is-inline-img + span {
	vertical-align: middle;	
}

.is-inline-img figure {
	margin: 0 0.25rem 0 0 !important;
}

.is-narrow {
	width: auto !important;
}

.table-holder {
	overflow-x: scroll !important;
}

.table.is-right {
	float: right;
}

.tag.is-not-padded {
	padding: 0 !important;
}

.helper-icon:hover {
	cursor: pointer;
	color: #2c8c99 !important;
}

.is-normally-spaced {
	margin-top: -0.5rem !important;
}

.is-neatly-spaced {
	margin-top: -1.0rem !important;
}

.is-splash-img-bottom {
	margin-bottom: -4rem;
	box-shadow: 0 0 30px rgba(71, 82, 93, 0.15);
}

a, .button {
	text-decoration: none !important;
	font-weight: bold;
}

/* LOADING */

.content .is-inverted-text {
	color: #ffffff !important;
}

.loading-body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #2c8c99;
	color: white;
	text-align: center;
	z-index: 10;
	/* Center Vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
	resize: vertical;
}

@keyframes LoadingPulse {
	0% {
		width: 25vh;
	}
	50% {
		width: 30vh;
	}
	100% {
		width: 25vh;
	}
}

.loading div {
	height: 35vh;
	/* Center Vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
	resize: vertical;
}

.loading div img {
	width: 50vw;
	display: block;
	margin: 0 auto;
	animation: LoadingPulse 2s infinite;
}

.loading h1 {
	line-height: 40px;
}